@import "src/styles/module.scss";

.heading {
  margin-bottom: 32px;
}

.fav-btn {
  margin-left: 8px;
  margin-right: 8px;
}

ol li {
  padding: 0 0 0 4px;
}

.nav-button {
  margin-right: 8px;

}

.delete-btn {
  color: $color-danger-darker;
  cursor: pointer;
  padding: 4px;
}

.calibrate-btn {
  color: $color-warning;
  cursor: pointer;
  padding: 4px;
}

.calibrate-btn:hover {
  color: $color-warning-lighter;
}

.calibrate-btn:active {
  color: $color-warning-lightest;
}

.delete-btn:hover {
  color: $color-danger;
}

.delete-btn:active {
  color: $color-danger-lighter;
}

.not-calibrated {
  border-color: $color-danger;
  color: $color-danger;
}
.calibrated {
  border-color: $color-warning;
  color: $color-warning;
}
.exactly-calibrated {
  border-color: $color-success;
  color: $color-success;
}

.list {
  margin-top: 4px;
  @include sm {
    margin-top: 8px;
  }
  @include md {
    margin-top: 8px;
  }
  @include lg {
    margin-top: 16px;
  }
  @include xl {
    margin-top: 16px;
  }
}
