@import "src/styles/module.scss";

.heading {
  margin-bottom: 32px;
}

ol li {
  padding: 0 0 0 4px;
}

.nav-button {
  margin-right: 8px;

}

.delete-btn {
  color: $color-danger-darker;
  cursor: pointer;
}

.delete-btn:hover {
  color: $color-danger;
}

.delete-btn:active {
  color: $color-danger-lighter;
}
