.profileContainer{
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  height: fit-content;
  margin-top: 32px;
}
.profilePhoto{
  width: 32px;
  height: 32px;
  border-radius: 16px;
  border: 1px solid;
  border-color: #FFAA5E;
  //border-image: url(./picture.svg) 30% / 1 stretch;
}
