@import "src/styles/module.scss";

.card-footer{
  display: flex;
  flex-direction: row-reverse;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content {
  width:100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $color-lightaccent;
}

a:hover li.content {
  color: $color-lightaccent-lighter;
}

a:active li.content {
  color: $color-lightaccent-lightest;
}
