<a [routerLink]="['collection', collection.id]">
  <div class="card">
    <div class="card-content">
      <div><b>{{collection.name}}</b></div>
      <ul class="items-text">
        <li class="content"><span class="truncate">{{items[0].name}}</span></li>
        <li class="content"><span class="truncate">{{items[1].name}}</span></li>
        <li class="content"><span class="truncate">{{items[2].name}}</span></li>
        <li class="content"><span class="truncate">{{items[3].name}}</span></li>
        <li class="content"><span class="truncate">{{items[4].name}}</span></li>
      </ul>
<!--      <div class="card-footer">-->
<!--        <button disabled>X</button>-->
<!--      </div>-->
    </div>
  </div>
</a>
