@import '../styles/colors';
@import '../styles/variables';

.card {
  border: 12px solid;
  margin: 10px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border-image: url(./border.png) 30% / 1 stretch;
}

.card-content {
  background-color: $color-dark;
  padding: 5px;
  width: available;
}

.topbar {
  display: flex;
  border-bottom: 2px solid $color-accent-darkest;
  min-height: $top-bar-height;
}

.login-block {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  padding: 10px;
  width: fit-content;
}
