@import '../styles.scss';

.card {
  border: 12px solid;
  margin: 10px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border-image: url(./border.png) 30% / 1 stretch;
}

.card-content {
  background-color: $color-dark;
  padding: 5px;
  width: available;
}

.topbar{
  display: flex;
}

.login-block{
  margin-left: auto;
  padding: 5px;
  width: fit-content;
}

.login{
  display: block;
  width: 24px;
  height: 24px;
  background: url(./profile.webp);
}

.login:hover{
  background: url(./profile-focused.webp);
}
.login:active{
  background: url(./profile-clicked.webp);
}
