<span *ngIf="pair.item1.id === pair.relation?.from" class='bold-pair'>{{pair.item1.name}}</span>
<button (click)="addRelation(pair.item1.id,pair.item2.id)"
        *ngIf="pair.item1.id !== pair.relation?.from" class='btn-pair'>{{pair.item1.name}}</button>
<span *ngIf="!pair.relation" class='bold-pair'>=</span>
<button (click)="deleteRelation(pair.relation.from,pair.relation.to)" *ngIf="!!pair.relation" class='btn-pair'>=</button>
<span *ngIf="pair.item2.id === pair.relation?.from" class='bold-pair'>{{pair.item2.name}}</span>
<button (click)="addRelation(pair.item2.id,pair.item1.id)"
        *ngIf="pair.item2.id !== pair.relation?.from" class='btn-pair'>{{pair.item2.name}}</button>
